
<div class="container text-center">
  <div  nz-row>
    <div nz-col nzSpan="4">
      <div class="sp sp-circle"></div>
      <h5>圆圈</h5>
    </div>
    <div nz-col nzSpan="4">
      <div class="sp sp-3balls"></div>
      <h5>3 球</h5>
    </div>
    <div nz-col nzSpan="4">
      <div class="sp sp-volume"></div>
      <h5>体积</h5>
    </div>
    <div nz-col nzSpan="4">
      <div class="sp sp-vortex"></div>
      <h5>涡流</h5>
    </div>
    <div nz-col nzSpan="4">
      <div class="sp sp-slices"></div>
      <h5>切片</h5>
    </div>
    <div nz-col nzSpan="4">
      <div class="sp sp-sphere"></div>
      <h5>球体</h5>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="4">
      <div class="sp sp-bars"></div>
      <h5>木块</h5>
    </div>
    <div nz-col nzSpan="4">
      <div class="sp sp-clock"></div>
      <h5>时钟</h5>
    </div>
    <div nz-col nzSpan="4">
      <div class="sp sp-wave"></div>
      <h5>波纹</h5>
    </div>
    <div nz-col nzSpan="4">
      <div class="sp sp-texture"></div>
      <h5>纹理</h5>
    </div>
    <div nz-col nzSpan="4">
      <div class="sp sp-loadbar"></div>
      <h5>加载条</h5>
    </div>
    <div nz-col nzSpan="4">
      <div class="sp sp-hydrogen"></div>
      <h5>圆形工具</h5>
    </div>
  </div>
</div>

